<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.arsene.com/workflow/Workflow"
			class = "com.arsene.workflow.workflow.WorkflowPackage"
			genModel = "model/generated/Workflow.genmodel" />
	</extension>
</plugin>
